<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
        <!--        事务超时时间-->
        <setting name="defaultStatementTimeout" value="600"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.crui.house.common.model.User" alias="user"/>
        <typeAlias type="com.crui.house.common.model.House" alias="house"/>
        <typeAlias type="com.crui.house.common.model.HouseUser" alias="houseUser"/>
        <typeAlias type="com.crui.house.common.model.Community" alias="community"/>
        <typeAlias type="com.crui.house.common.model.Comment" alias="comment"/>
        <typeAlias type="com.crui.house.common.model.Agency" alias="agency"/>
        <typeAlias type="com.crui.house.common.model.City" alias="city"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/user.xml"/>
        <mapper resource="mapper/house.xml"/>
        <mapper resource="mapper/agency.xml"/>
        <mapper resource="mapper/comment.xml"/>
        <mapper resource="mapper/community.xml"/>
        <mapper resource="mapper/city.xml"/>
    </mappers>
</configuration>